
body {
    background-color: #D6CE9D;

    font-family: 'Lilita One', cursive;
}

.kontakt > li {
  margin: 30px 0;
}


.Experiences {
  right: -25%;
  position:relative;

  font-size: 300%;
  top: -30;

}


.topnav {
  background-color: #E0C837;
  overflow: hidden;
  
  border-radius: 25px;
    
  border: 3px solid black;
  padding: 20px;

  flex-basis: 10rem;
  flex-grow: 1;

  position: absolute;
  width: 1050px;
  height: 110px;
  right: 10px;

  top: 25;
}


.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.sidebar {
    background-color: #E0C837;



    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;

    flex-basis: 10rem;
    flex-grow: 1;
}

.not-sidebar {

    flex-basis: 0;
    flex-grow: 999;

    min-inline-size: 50%;
}

ul.a {
    list-style-type: circle;
}

.selfie {
    border: 6px solid black;
    border-radius: 1px;
    padding: 5px;
    width: 150px;

    border-radius: 25px;
    border: 3px solid black;
  
  }

  .logotyp {
    padding: 5px;
    width: 100px;
    top: 0%;
    position: relative;
}

 

  * {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 15%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -17px;
  background-color: white;
  border: 5px solid #000000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.second {
  right: -15%;
}

/* Place the container to the right */
.right {
  left: 15%;
}

/* Add arrows to the left container (pointing right) */
.second::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #D6CE9D;
  border-width: 10px 10px 10px 0;
  border-color: transparent #D6CE9D transparent transparent;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #D6CE9D;
  border-width: 10px 10px 10px 0;
  border-color: transparent #D6CE9D transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}
.second::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #D6CE9D;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


